<!DOCTYPE HTML>
<html>
<head>
    <title>Pagina de Bienvenida</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1> Pagina de Bienvenida index.mustache. Codigo HTML normal </h1>
<h2>Main Menu</h2>
<ul>
    <li><h3><a href="/holaTh">Hola Mundo con Spring + Mustache</a></h3></li>
    <li><h3>Usuarios (listar/añadir/editar/borrar): <a href="/listUsuarios">listarUsuarios</a></h3></li>
</ul>
</body>
</html>
